body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 1em;
}

#menu {
  max-width: 600px;
  margin: 20px auto;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu-hidden {
  opacity: 0;
  transform: translateX(-100%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.navigation {
  text-align: center;
  margin: 20px;
}

button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

/* Dots Indicators */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #3498db;
}

/* Additional styles for better mobile experience */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
